@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

* {
    padding: 0px;
    margin: 0px;
}

#hero {
    background-image: linear-gradient(180.00deg, rgb(9, 9, 9) 3.482%, rgba(16, 16, 16, 0) 101.632%), url(./make-essential-UI-components-Resources/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero .hero-content {
    width: 650px;

}

.subtitle{
 color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
}
.title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}
.description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 18px;
}
.btn{
    padding: 21px 32px 21px 32px;

color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
border: none;
background: rgb(82, 195, 3);
margin-bottom: 32px;

}
.btn-container{
    text-align: center;
}